
html, body {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	background-color: rgba(255, 255, 255, .8);
	max-width: 685px;
	border-radius: 10px;
	box-shadow: 0 0 50px 25px rgba(0, 0, 0, .5);
}

.main-img img,
.imgs img {
	width: 100%;
}

.main-img img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.imgs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	padding-bottom: 3px;
}

.imgs img {
	border-radius: 5px;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fadeIn {
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
}




















