/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Colors ============================================*/

:root {
  --orange: #ff8500;
}

/*  Fonts ============================================*/

@font-face {
  font-family: "badass";
  src: url("../fonts/badass.otf");
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

/* Core Styles ============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  background: #2471a3;
  color: #fff;
  font-family: roboto-condensed;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: badass, serif;
  font-weight: bolder;
  color: var(--orange);
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 3.5em;
  letter-spacing: 0.09em;
  text-shadow: 1px 1px 1px #fff;
  margin: 0.75em auto;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

label {
  font-family: roboto, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

#bot-field {
  display: none;
}

.btn {
  background: #fff;
  color: #333;
  border-radius: 15px;
  transition: background 0.75s ease-in-out;
}

/* Header ============================================*/

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../../img/web-dev.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}

#showcase div.showcase-overlay {
  width: 100%;
  height: 100%;
  padding: 1em 0.5em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 25px 5px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase h1 {
  color: #fff;
  font-size: 4em;
  letter-spacing: 0.05em;
  margin: 0;
}

#showcase p {
  font-family: badass, serif;
  font-size: 3em;
}

#showcase a {
  color: #fff;
  width: 50%;
  background: #2471a3;
  display: inline-block;
  margin: 25px auto;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  /* border: 1px solid #fff; */
  box-shadow: 0 3px 25px #000;
  transition: all 0.5s ease-in-out;
}

#showcase a:hover {
  transform: scale(1.075);
  box-shadow: 0 0 30px 10px #000;
}

/* About ============================================*/

#about {
  background: #fff;
  color: #333;
  border-top: 3px solid #2471a3;
}

#about .container {
  padding: 1em;
}

#about h3 {
  margin-bottom: 0.5em;
  font-size: 4em;
  color: #2471a3;
}

#about p {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 25px;
  margin: 1em auto;
}

#about figure {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

#about figcaption {
  font-family: roboto, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  color: #333;
}

#about img {
  width: 200px;
  height: 200px;
  margin: 1em auto;
  border: 4px solid var(--orange);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 8px 15px #333;
}

#about div.container {
  width: 100%;
  clear: both;
}

#about button {
  width: 100%;
  padding: 1em 2em;
  background: #fff;
  color: #333;
  border: 2px solid var(--orange);
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 3px 3px 25px 5px #000;
}

#about button a {
  color: #000;
  text-decoration: none;
}

#about #cta-hire p {
  width: 100%;
  text-align: left;
}

#about #cta-hire.container p {
  padding: 0;
  font-size: 1.25em;
  text-align: center;
  text-indent: 0;
}

#about #cta-hire.container a {
  color: orange;
  text-decoration: underline;
}

/*  Services ==========================================*/

#services {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  background: #2471a3;
  color: #fff;
  border-top: 3px solid #999;
}

#services h3 {
  color: #fff;
}

#services ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-bottom: 1em;
}

#services ul li {
  text-align: center;
  margin: 0.5em 0;
  margin-bottom: 2em;
}

#services ul li > p {
  font-family: Arial, Helvetica, sans-serif;
}

#services ul li img {
  width: 75px;
  height: 75px;
  margin-bottom: 1.5em;
}

#services ul li p {
  text-indent: 0;
  text-transform: uppercase;
}

/* Contact/Form ============================================*/

#contact {
  display: block;
  background: #fff;
  padding: 1em;
  border-top: 3px solid var(--orange);
}

#contact h3 {
  color: var(--orange);
}

#contact .container form {
  display: flex;
  flex-direction: column;
  background: #2471a3;
  border: 2px solid #fff;
  border-radius: 25px;
  box-shadow: 0 2px 15px 2px #000;
  padding: 1.5em 2em 2em;
  margin-bottom: 2em;
}

#contact form label {
  color: #fff;
  font-family: roboto, sans-serif;
}

#contact form input,
#contact form textarea {
  margin: 0.5em auto;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 1px #333;
}
#contact form input {
  width: 100%;
  height: 3.5em;
}

#contact form textarea {
  width: 100%;
  height: 25em;
  padding: 10px 15px;
}

#contact form input#submit-btn {
  background: var(--orange);
  text-transform: uppercase;
  margin-top: 1.25em;
  width: 65%;
  height: 3em;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 5px 20px #333;
  font-size: 1em;
}

/* Footer ============================================*/

.footer {
  /*margin-top: 1.5em;*/
  padding: 1em 1em 2em;
  background: #333;
  color: #fff;
  text-align: center;
  border-top: 5px solid var(--orange);
}

.footer .container {
  text-align: center;
}

.footer p {
  text-indent: 0;
  margin-top: 0.5em;
  font-size: 1.25em;
}

.footer ul {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.footer ul li {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.footer ul li img {
  width: 50px;
  height: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 600px) {
  /*About section styles on Tablet */

  #about .container {
    overflow: hidden;
  }

  #about figure {
    width: 45%;
    float: left;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  #about figcaption {
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  #about p {
    width: 50%;
    float: right;
    padding: 0;
    line-height: 1.6em;
  }

  #about div.container #cta-hire {
    margin-top: 1em;
    padding: 0;
    text-align: center;
  }

  #about button {
    margin: 2em auto;
    width: 50%;
  }

  #about #cta-hire p {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
  }

  #about #cta-hire p span {
    font-style: italic;
  }

  /* Services section styles for tablets */

  #services ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding-bottom: 3em;
  }

  #services ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #services ul li p {
    text-indent: 0;
  }

  #services ul li img {
    width: 100px;
    height: 100px;
  }

  /* Contact/Form styles for tablets */

  #contact {
    display: block;
  }

  #contact .container {
    text-align: center;
  }

  #contact form {
    margin: 0 auto;
    width: 60%;
  }

  #contact form label {
    text-align: left;
  }

  /* Footer section styles for tablets */

  .footer .container {
    width: 45%;
  }

  .footer ul {
    width: 75%;
    margin: 1.5em auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer ul li {
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  .footer ul li img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 960px) {
  /* Showcase area styles for desktop screens */

  #showcase h1 {
    font-size: 6em;
  }
  #showcase a {
    width: 20%;
  }

  /* About section styles for desktop screen sizes */

  .btn {
    width: 30%;
    height: 50px;
  }

  #about {
    padding: 0 0 3.5em;
  }

  #about div.container {
    width: 75%;
    margin: 0 auto;
  }

  #about button:hover {
    font-weight: bolder;
  }

  #about .container#cta-hire {
    margin: -7em 0 0;
    float: right;
  }

  #about .container#cta-hire a:hover {
    text-decoration: none;
    text-transform: uppercase;
  }

  /* Services section styles for desktop screen sizes */

  #services ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #services ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Contact section styles for desktop screen sizes */

  #contact {
    display: block;
  }

  #contact form {
    width: 45%;
  }

  #contact form input#submit-btn {
    width: 45%;
  }

  #contact form input#submit-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  /* Footer section styles for desktop screen sizes */

  .footer ul {
    width: 50%;
    margin: 1.5em auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .footer ul li {
    width: auto;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    padding: 0.5em;
  }

  .footer ul li:hover {
    transform: scale(1.25, 1.25);
  }

  .footer ul li img {
    width: 50px;
    height: 50px;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
